@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;400;600;700&display=swap');

*{
  box-sizing: border-box;
}

a {
  color: midnightblue !important;
  -webkit-text-fill-color: midnightblue;
  -webkit-opacity: 1;
  opacity: 1;
}

button{
  color: white !important;
  -webkit-text-fill-color: white;
  -webkit-opacity: 1;
  opacity: 1;
}

body{
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}

.register{
  overflow-x: hidden;
}

.logo{
  width: 7em;
  height: 2em;
  border-radius: 20%;
  margin: auto;
}

.logo>img{
  width: 100%;
  height: 100%;
  margin: 0;
}


/* Registration Section */
.register{
  width: 100%;
  margin: 0%;
  padding: 0%;
  height: 100%;
  position: relative;
  padding-top: 4.5%;
  padding-bottom: 10%;
}

.register::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 46%;
  height: 55%;
  background: linear-gradient(186.95deg,midnightblue 5.58%, steelblue);
  opacity: .3;
  filter: blur(100px);
  background-position: 100% 0;
  z-index: -1;
  animation-name: movegradient;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  transition: 1s all ease;
  animation-fill-mode: both;
}


  @keyframes movegradient {
  0%{
    top: 0%;
    right: 0%;
}

50%{
  top: 50%;
  right: 0;
}

100%{
  top: 0;
  right: 0;
}
  }
.register>h2{
  text-align: center;
  font-size: 28px;
  font-family: hanken grotesk;
  color: rgba(0, 0, 0, 0.8);
  margin: 0%;
  height: fit-content;
}

.register>form{
  width: 30%;
  height: 43em;
  margin: auto;
  display: grid;
  row-gap: 15px;
}

.register>.form2{
  height: 19em;
  margin-top:5%;
}

.register>.resetform{
  height: 13em;
  margin-top: 6%;
}

label{
  height: 0;
  font-size: 15px;
  padding: 0%;
  margin: 0%;
  font-family: hanken grotesk;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

select{
  height: 3.5em;
  outline: none;
  border: 1.5px solid rgba(16, 1, 56, 0.3);
  transition: .6s all ease;
  border-radius: 5px;
}

form>input{
  height: 3em;
  border: 1.5px solid rgba(16, 1, 56, 0.3);
  transition: .6s all ease;
  border-radius: 5px;
  outline: none;
  padding: 1.5em;
  font-size: 15px;
}

form>input:focus{
  border: 1.6px solid rgba(56, 1, 56, 1);
  transition: .6s all ease;
}

.phone{
  display: grid;
  grid-template-columns: 28% 70%;
  height: 150%;
  column-gap: 2%;
  padding-bottom: 8%;
}

.phone>input{
  height: 2.4em;
  border: 1.5px solid rgba(16, 1, 56, 0.3);
  transition: .6s all ease;
  border-radius: 5px;
  outline: none;
  padding: 1.5em;
  font-size: 15px;
}

.phone>input:focus{
  outline: none;
  border: 1.6px solid rgba(56, 1, 56, 1);
  transition: .6s all ease;
}

.phone>label{
  grid-column: span 2;
}

.button{
  all: unset;
  background-color: midnightblue;
  color: white;
  display: grid;
  place-items: center;
  height: 3em;
  border-radius: 5px;
  text-align: center;
  font-family: hanken grotesk;
}

.reset{
  display: grid;
  place-items: right;
  width: 100%;
  text-align: right;

}

a{
  text-decoration: none;
  font-family: hanken grotesk;
  font-size: 15px;
  color: midnightblue;
}

.logreg{
  display: grid;
  width: 30%;
  text-align: center;
  margin: auto;
  border: none;
  background: none;
  color: midnightblue;
  font-size: 15px;
  font-family: hanken grotesk;
  margin-top: 1%;
  cursor: pointer;
}


/* Home */

.home{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 30% 70%;
}


.header>.logo{
  margin-left: 0;
}


.home-left{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 15% 7% 78%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.home-left>.header{
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: 80% 10% 10%;
  padding-top: 4%;
  padding-bottom: 3%;
  align-items: center; 
}



.new-chat{
  background-color: green;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.search-messages{
  display: grid;
  grid-template-columns: 10% 90%;
  width: 92%;
  margin: auto;
  height: 44px;
  position: relative;
  border-radius: 8px;
}


.search-messages>.search-icon{
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.03);
}
.search-messages>input{
  background-color: rgba(0, 0, 0, 0.03);
  font-family: hanken grotesk;
  font-size: 15px;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
}




/* Home right */
  
.home-right{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 15% 75% 10%;
}

.chat-header{
  display: none;
  grid-template-columns: 90% 10%;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.avatar{
  width: 3em;
  height: 3em;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.avatar>img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.message-chat-name{
  font-family: hanken grotesk;
}

.chat-footer{
  display: grid;
  grid-template-columns: 5% 88% 5%;
  gap: 1%;
  position: fixed;
  top: 90%;
  height: 4em;
  column-gap: 1%;
  padding: 5px;
  margin: auto;
  width: 70%;
}

.import-media{
  display: grid;
  place-items: center;
  cursor: pointer;
  width: 1.3em;
  height: 1.3em;
  color: green;
  border-radius: 50%;
  font-size: 38px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.03);
  align-self: center;
}

.chat-input{
  height: 70%;
  display: grid;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  align-self: center;
}




.chat-input>input{
  width: 97%;
  border: none;
  outline: none;
  height: 100%;
  background-color: transparent;
  font-size: 20px;
}

.record-voice{
  display: grid;
  place-items: center;
  align-self: center;
  cursor: pointer;
  justify-self: left;
}

.chats{
  width: 100%;
  max-height: 31rem;
  scrollbar-color: black;
  overflow-y: scroll;
  display: flex;
flex-direction: column-reverse;
}

.chats::-webkit-scrollbar{
  
}

.messages{
  color: black;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: white;
}

.message-items{
  width: 100%;
  padding: 2%;
  display: grid;
}



.message-items>*{
  max-width: max-content;
  background-color: rgba(1, 26, 255, 0.09);
  padding: 1%;
  margin: 1.5%;
  border-radius: 5px;
  height: max-content;
  row-gap: 0;
  font-size: 15px;
  font-family: hanken grotesk;
}
 
.owner{
    display: grid;
    justify-self: right;
    background-color: royalblue;
    color: white;
  }

  /* Message items */
  .message-item{
    display: grid;
    grid-template-columns: 15% 65% 20%;
    height:6em;
   font-family: hanken grotesk;
    align-items: center;
    padding: 1%;
    padding-left: 4%;
    margin: 0%;
    font-size: 15px;
    padding-bottom: 0%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .message-item:hover{
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer;
  }


  .first-col{
    display: grid;
    place-items: left;
    overflow: none;

  }

  .first-col>img{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .second-col{
    display: grid;
    grid-template-rows: 60% 40%;
    font-family: hanken grotesk;
    padding-left: 4%;

  }

  .first-row{
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
  }

  .second-row{
    font-size: 14px;
    display: grid;
    align-items: baseline;
    height: 100%;
    padding-top: 3%;
  }


  .third-col{
    font-size: 13px;
  }

  .message-options{
   position: relative;
   width: 100%;
    cursor: pointer;

  }

  .contact-info{
    position: absolute;
    display: grid;
    grid-template-columns: 85% 15%;
    width: 150%;
    top: 100%;
    left: -100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: .5em;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    align-items: center;
    transition: .5s all ease;
  }

  .contact-info>svg{
    border: 1px solid black;
    border-radius: 50%;
  }

  .contact-info:hover{
    background: rgba(0, 0, 0, 0.1);
  }

  .profile-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .profile-details{
    position: absolute;
    width: 30em;
    height: 20em;
    background-color: white;
    display: none;
    align-self: center;
    left: 35%;
    place-items: center;
    grid-template-rows: 20% 30% 9% 11% 6% 6% 16%;
    font-family: hanken grotesk;
    border-radius: 20px;
  }

  .profile-photo{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }

  .profile-name{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
  }

  .profile-email{
    font-size: 14px;
  }

  .caret{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
  }

  .other-setting-item{
    display: grid;
    grid-template-columns: 90% 10%;
    cursor: pointer;

  }

  .other-item{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
  }

  .profile-others{
    display: grid;
    align-items: center;
    flex-direction: row;
    }

  .profile-photo>img{
    width: 100%;
    height:100%;
  }

.logout-btn{
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 10%;
}

.logout{
  background-color: none;
  cursor: pointer;
  border: none;
  width: fit-content;
  height: 100%;
  -webkit-text-fill-color: red;
  font-size: 17px;
  color: red;
  margin: auto;
}


  .profile-details>*{
    display: grid;
    place-items: center;
    text-align: center;
  }

  .profile-details>.logout-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 1%;
    width: 6em;
    cursor: pointer;
  }

  .x{
    width: 1.3em;
    position: absolute;
    top: 5%;
    right: 4%;
    height: 1.3em;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    display: grid;
    place-content: center;
    cursor: pointer;
    padding: 0%;
  }



  .loading{
    opacity: 0;
  }

  .setting-container{
    display: none;
    position: absolute;
  }

  .profile-settings{
    display: grid;
    grid-template-columns: 15% 75% 10%;
    cursor: pointer;
  }

  .settings{
    width: 30em;
    height: 25em;
    display: grid;
    place-items: center;
    border-radius: 10px;
    background-color: white;
    font-family: hanken grotesk;
    z-index: 10;
    position: relative;
    gap: 0;
    padding-bottom: 3%;
    display: none;
  }

  .settings>*{
    width: 100%;
    padding-left: 3% ;
    text-align: left;
    display: grid;
    place-items: flex-start;
  }

  .settings>.h3{
    font-size: 25px;
    text-align: center !important;
    place-items: center;
    padding: 0%;
  }

  .title{
    color: rgba(0, 0, 0, 0.7);
    
  }

  /* Users */
  .user-item{
    height: 6em;
    border: 1px;
    grid-template-columns: 19% 80%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  }

  .user-photo{
    width: 3em;
    height: 3em;
  }

  .display-name{
    height: 100%;
    display: grid;
    align-items: center;
    font-weight: 600;
    font-size: 16.5px;
  }

  .translatezero{
    transform: translate(-100%, -100%);
    transition: .5s all ease;
  }

  .translatefull{
    transform: translate(0%, 0%);
    transition: .5s all ease;
  }
.users{
  position: absolute;
  top: 22%;
  width: 30%;
}

.messagesone{
  position: relative;
}



.back-btn{
  display: none;
}

.chat-details{
  display:grid;
  grid-template-columns: 15% 85%;
  width: 100%;
  align-items: center;
}

.import-media{
  position: relative;
  width: 100%;
  height: 100%;
}


.import-media>*{
  position: absolute;
  width: 90%;
  height: 90%;
}

.import-media>input{
  opacity: 0;
}

.changepicbtn{
  position: relative;
  height: 100%;
}

.changepicbtn>*{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



@media screen and (max-width: 900px) {
  .message-chat-name{
    padding-left: 5%;
  }
    .home-right{
      display: none;
    }
    .home{
      grid-template-columns: 100%;
    }

    .users{
      width: 100%;
    }

    .contact-info{
      width: 310%;
      left: -200%;

    }

    .profile-details{
      left: 10%;
      width: 20em;
      height: 20em;
    }

    .chat-header{
      padding-left: 2%;
      grid-template-columns: 10% 80% 10%;
    }

    .back-btn{
      display: block;
    }

    .xx{
      top: 1em;
      right: 1em;
    }

    .chat-footer{
      width: 99%;
      grid-template-columns: 10% 80% 10%;
      top: unset;
      bottom: 0;
    }
    .register{
      margin: auto;
      margin-top: 10%;
    }

    .chat-details{
      grid-template-columns: 20% 80%;
    }
    .register>form{
      width: 88%;
      margin-top:  10%;
    }
    .register>.form2{
      width: 70%;
      margin-top:  10%;
    }
    .settings{
      width: 23em;
      height: 25em;
    }
    .message-items>.owner>span{
      font-size: 20px;
      padding: 5px 3px 5px 3px;
    }
    .message-items>.other>span{
      font-size: 20px;
      padding: 5px 3px 5px 3px; 

    }

}

.button{
  color: white !important;
  -webkit-text-fill-color: white;
  -webkit-opacity: 1;
  opacity: 1;
}

.changepicbtn{
  background-color: midnightblue;
}

.chat-image{
  width: 10em;
  height: 10em;
}

.profile-setting-container{
  height: 32em;
}

.profile-setting-form{
  display: grid;
  height:100%;
  place-items: center;
}

.profile-setting-form>label{
  all: unset;
  text-align: left;
}

.profile-photo-container{
  position: relative;
  width: 3em;
  height: 3em;
  overflow: hidden;
  border-radius: 50%;
}

.profile-photo-container>*{
  position: absolute;
}

.profile-photo-container>input{
  transform: scale(2);
  top: 90%;
  z-index: 4;
  opacity: 0;
  cursor: pointer;
}

.profile-photo-container>img{
  z-index: 2;
  width: 100%;
  height: 100%;
}

.profile-photo-container>svg{
  z-index: 3;
  width: 30%;
  height: 30%;
  top: 70%;
  left: 34%;
}

.profile-photo-setting{
  display: grid;
  place-items: center;
}

.profile-photo-setting>span{
  font-size: 12px;
  font-weight: bold;
}

.profile-setting-form>label{
  width: 70%;
}

.profile-setting-form>input{
  width: 70% ;
}

.profile-setting-form>.phone{
  padding-bottom: 0%;
  height: 100%;
  width: 70%;
}

.profile-setting-form>.button{
  font-size: 13px;
  padding: .2em .8em;
  font-weight: bold;
  margin-top: 1em;
}

.profile-setting-form{
  position: relative;
  padding: 0;
}

.profile-setting-form>svg{
  position: absolute;
  top: 10%;
  left: 5%;
  cursor: pointer;
}

.password-container{
  height: 25em;
}

.alert-container{
  height: 15em;
}

.notification{
  width: 90%;
  display: grid;
  grid-template-columns: 85% 15%;
  align-items: center;
}

.xx{
  width: 1.3em;
  position: absolute;
  top: 1em;
  z-index: 11;

  right: 1em;
  height: 1.3em;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  display: grid;
  background-color: white;
  place-content: center;
  cursor: pointer;
  padding: 0%;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.notification-header{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
}


.alert-setting-form{
  padding: 0;
}

.emoji-container{
  position: absolute;
  width: 100%;
  height: 50%;
}